{% extends 'indextrainer.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
{#  <table width="264" height="357" border="1">#}
{#    <tr>#}
{#      <td><a href="/viewtimesce">view time schedule</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/viewuse">view users</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/manageattendance">manage attandance</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/verifyschedule">verify schedule booking</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="ver">verify diet chart</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/viewfood">view food history</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/managevideos">vedios</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/viewratng">view rating</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">logout</a></td>#}
{#    </tr>#}
{#  </table>#}
</form>
</body>
{% endblock %}