{% extends 'indexadmin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/addtrainer" enctype="multipart/form-data">
  <table width="316" border="1" id="customers">
    <tr>
      <td width="65">First Name </td>
      <td width="235"><label>
        <input type="text" name="textfield" required  pattern="[A-Z a-z.]{2,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Last Name </td>
      <td><label>
        <input type="text" name="textfield2" required  pattern="[A-Z a-z.]{1,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male" checked/>
      male 
      <input name="radiobutton" type="radio" value="female" />
      female 
      <input name="radiobutton" type="radio" value="none" />
      none</label></td>
    </tr>
    <tr>
      <td>photo</td>
      <td><label>
        <input type="file" name="textfield3" required/>
      </label></td>
    </tr>
    <tr>
      <td>place</td>
      <td><label>
        <input type="text" name="textfield4"required  pattern="[A-Z a-z.]{1,25}" />
      </label></td>
    </tr>
    <tr>
      <td>post</td>
      <td><label>
        <input type="text" name="textfield5" required  pattern="[A-Z a-z.]{1,25}" />
      </label></td>
    </tr>
    <tr>
      <td>pin</td>
      <td><label>
        <input type="text" name="textfield6"  required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <td>achievements</td>
      <td><label>
        <input type="file" name="textfield7" required/>
      </label></td>
    </tr>
    <tr>
      <td>experience</td>
      <td><label>
        <input type="text" name="textfield8" required />
      </label></td>
    </tr>
    <tr>
      <td>phone</td>
      <td><label>
        <input type="text" name="textfield9" required pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <tr>
      <td>email</td>
      <td><label>
        <input type="email" name="textfield10" required/>
      </label></td>
    </tr>
    <tr>
      <td>username</td>
      <td><label>
        <input type="text" name="textfield11" required />
      </label></td>
    </tr>
    <tr>
      <td>password</td>
      <td><label>
        <input type="password" name="textfield12" required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="add" />
        </label>
      </div></td>
    </tr>
  </table>
</form>

</body>
{% endblock %}
