{% extends 'indexadmin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" id="customers">
    <tr>
      <td><div align="center">ADMIN HOME </div></td>
    </tr>
    <tr>
      <td><a href="/managetrainer#about">add/manage trainers</a></td>
    </tr>
    <tr>
      <td><a href="/addtime#about">manage time schedule</a></td>
    </tr>
    <tr>
      <td><a href="/viewuse#about">view users</a></td>
    </tr>
    <tr>
      <td><a href="/viewfeeinfor#about">view fee details</a></td>
    </tr>
    <tr>
      <td><a href="/manageprod#about">manage products</a></td>
    </tr>
    <tr>
      <td><a href="/vieworder#about">view order for update</a></td>
    </tr>
    <tr>
      <td><a href="/viewratin#about">view rating</a></td>
    </tr>
    <tr>
      <td><a href="/logout">logout</a></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}